<div class="container">
    <div>
        <div class="filler"></div>
        <div class="containerUser">
            <!-- <h1 class="text-light text-center">Hola, soy <br> Brian Velazquez <br> Desarrollador Web Full Stack Jr.</h1> -->
            <div class="icons">
                <i class="fa-solid fa-circle fa-4x editIcon circle1"></i>
                <i class="fa-solid fa-pen fa-2x editIcon pen1"></i>
            </div> 
            <h3 id="containerUserH3">Hola, soy</h3>
            <h1>Brian Ezequiel Velázquez</h1>
            <h2>Desarrollador Full Stack Jr.</h2>
        </div>

        <div class="row text-center mt-3" id="user-pic-about">
            <div class="col-md-3">
                <!-- <img src='https://randomuser.me/api/portraits/men/20.jpg' class="img-fluid rounded-circle" id="userImg" alt="" /> -->
                <img src='assets\profile-pic.jpeg' class="img-fluid rounded-circle" id="userImg" alt=""/>
                <!--[src]="userImgSrc"--> 
                 <h2 class="userName">Brian Ezequiel Velazquez</h2>
                 <div class="icons">
                    <i class="fa-solid fa-circle fa-4x editIcon circle2"></i>
                    <i class="fa-solid fa-pen fa-2x editIcon pen2"></i>
                 </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8 about" id="about">
                <p class="h3 mt-2 py-2 px-1" id="about-me">Acerca de mi</p>
                <div class="icons">
                    <i class="fa-solid fa-circle fa-4x editIcon circle3"></i>
                    <i class="fa-solid fa-pen fa-2x editIcon pen3"></i>
                </div>
                <p class="lead mt-3 mb-2 text-start" id="aboutMeText">
                    Estudiante de 19 años de la carrera "Tecnicatura Universitaria en Programación" de la UTN. <br> <br>
                    Dispongo de un conocimiento básico de C#, Typescript, <br> el FrontEnd (HTML, CSS, JavaScript) asi 
                    tambien como de algunos frameworks de estos (Angular, Bootstrap). <br> <br> Aspiro sobre todo  a profundizar mi 
                    conocimiento sobre el BackEnd <br> y a formar parte de una empresa de renombre.
                </p>
            </div>
        </div>
    </div>
</div>